body {
			margin:0;
			}

      .mainbox {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        width: auto;
        height: 100%;
		margin-top:50px;
      }

      .box1 {
        background-color: #fff;
        width: 380px;
        padding: 15px;
        text-align: center;
        color: #000000;
        font-family: arial, sans-serif;
      }
	  
	  .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



.formbox {
	background: white;
	border: none;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 0 2px rgba(0,0,0,.3);
		overflow:hidden;
	
}

#who {
	font-size: small;
	color:rgba(0,0,0,.3);
}

.papi {
  display: block;
  text-align: right;
  margin-right:42px;
}

.bta {
  display: block;
  text-align: right;
}



body{
  font-family: sans-serif;  
}

.checkers {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial;
}

/* Hide the browser's default checkbox */
.checkers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkers:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkers input:checked ~ .checkmark {
  background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkers input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkers .checkmark:after {
  left: 6px;
  top: 2.5px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a:link {
  text-decoration: none;
  font-family: Helvetica;
}

a:visited {
  text-decoration: none;
  font-family: Helvetica;
}

a:hover {
  text-decoration: underline;
  font-family: Helvetica;
  color: #0061ff;
}

a:active {
  text-decoration: underline;
  font-family: Helvetica;
}

a {
	color: #0061ff;
}


* {
  box-sizing: border-box;
}

#policy {
	color: #7c8995;
	border: none;
	width:80%;
	text-align: left;
	font-family: segoe ui light;
	font-size: 12px;
	Line-height: 18px;
	margin-bottom:12;
	margin-top:22px;
}

#dbpng {
	width: 650px;
}



		body{
			background: transparent;
		}


		.office{
			width: 280px;
			background: #fff;
		}

		.office-holder{
			width:80%;
			margin: auto;
			padding: 0;
		}

		.logo{
			width:100%;
			margin-bottom: 1em;
			text-align:left;
			overflow: hidden;
		}
		
		div.b {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

		.logo h1{
			font-family: arial;

		}
		.logo h2 {
			display: block!important;
		}

		.verify{
			width: 70%;
			margin: auto;
		}

		.verify h4{
			font-family: arial;
			
		}


h4 {color:red;}

		.verify input[type='text']{
			width: 100%;
			float: right;
			border:none;
			padding:3px 10px;
		}

		.verify button{
			border:none;
			height: 40px;
			width: 80px;
			margin-top: 2em;
			border-radius: 0;
			color: #fff;
		}



		.form-holder{
			width:100%;
			float: left;
		}

		.form-holder h3{
			font-weight: 600;
		}
		

		.form-holder input[type='email'], input[type='password']{
			width: 100%;
			height:40px;
			float: left;
			margin-bottom: 10px;
			border-radius:0;
		}
		.form-holder .btn-holder{
			width:40%;
			margin-top:1em;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
		}

		.form-holder .btn-holder .btn{
			background:#0073C6;
			border:none;
			padding:8px 10px;
			color:#fff;
			margin-top: 7px;
			margin-bottom: 7px;
		}

		.form-holder .btn-holder .btn:hover{
			cursor:pointer;
		}

		

		.hide{
			display: none;
		}